<div class="footer-padding"></div>
<div class="footer">
  <p class="text-center">Made with ❤️ by Arya</p>
</div>
</div>

<script src="js/questions.js">
  // alert("Questions.js");
</script>
</body>
</html>