<%- include('partials/header') -%>
<div class="container">
    <div id="home" class="flex-center flex-column">
        <h1 class="gradient-text">Quiz'R us</h1>
        <a href="game" class="btn">Play</a>
        <!-- <a href="highscores" class="btn">High Scores</a> -->
    </div>
</div>
<footer class="footer">
    <p class="text-center">Made with ❤️ by Arya</p>
  </footer>
  </div>
  
<%- include('partials/footer') -%>
