<%- include('partials/header') -%>
<div class="container">
    <div id="home" class="flex-center flex-column">
        <h1 class="gradient-text">Quiz'R US</h1>
        <a href="game" class="btn">Play</a>
        <a href="highscores" class="btn">High Scores</a>
    </div>
</div>
<%- include('partials/footer') -%>
